* {
    box-sizing: border-box;
}

.task-card-container {
    perspective: 1250px;
    width: 300px;
    height: 450px;
    margin: 5px;
}

.task-card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    position: relative;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: rgb(255, 250, 250);
}

ul.my-ul {
    margin-top: 10px;
    list-style: none;   
    text-wrap: wrap;
    overflow-wrap: break-word;
}

ul.my-ul li {
    position: relative;
    padding-left: 5px;
    margin-bottom: 5px;
    font-size: 1.1em;
}

ul.my-ul li::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 5px;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}

.task-card ul {
    text-align: left;
}

.task-card-container.flipped .task-card {
    transform: rotateY(180deg);
}

.task-card-front,
.task-card-back {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.task-card-icon {
    background-image: url("/public/images/flip_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10px;
    top: 10px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: rgb(185, 185, 34);
    box-shadow: 0px 0px 1px 1px;
    border: 1px double rgba(0, 0, 0, 0.5);
    padding-bottom: 1px;
    transition: all 0.3s ease-in-out;
}

.task-card-icon:hover{
    cursor: pointer;
    transform: rotate(-15deg);
    transition: transform 0.3s;
    background-color: rgba(255, 255, 255, 0.5);
}

.task-card-header {
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 15px 15px 0 0;
    text-wrap: wrap;
}

.task-card-back .task-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 73, 73);
    height: fit-content;
    color: rgb(219, 219, 219);
    border-radius: 15px 15px 0 0;
    border: 1px solid;
}

.task-card hr {
    margin: 10px;
}

.task-card-body {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 5px;
}

.task-card-footer {
  padding: 5px;
  background: #fff;
  border-radius: 0px 0px 15px 15px;
  border-top: 1px dotted;
  color: rgba(0, 0, 0, 0.8);
  margin-top: auto;
}

.task-card>h1,
h2,
h3,
h4,
h5 {
    margin: 5px;
}

.task-card-front {
    z-index: 2;
}

.task-card-back {
    transform: rotateY(180deg);
}


/* Task Card Priority and Due Date Styles */

.priority-low-text {
  color: green;
}

.priority-medium-text {
  color: darkorange
}

.priority-high-text {
  color: red;
}

.duedate-soon {
  color: darkorange;
}

.duedate-past {
  color: red;
}


/* Custom Completition checkbox */

.custom-checkbox-lg-green .form-check-input {
  border-color: #28a745 !important; 
  width: 1.5em; 
  height: 1.5em; 
}

.custom-checkbox-lg-green .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3 6-6'/%3e%3c/svg%3e") !important;
}

.custom-checkbox-lg-green .form-check-input:checked {
  border-color: #28a745 !important;
  background-color: #28a745 !important; 
}





